name: MySQL GithubDocker

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
    
  workflow_dispatch:
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}_mysql

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      
          
      - name: create MYSQL Root Password Secret
        run: echo "${{ secrets.MYSQL_ROOT_PASSWORD }}" > MYSQL_ROOT_PASSWORD.txt

      - name: create MYSQL User Secret
        run: echo "${{ secrets.MYSQL_USER }}" > MYSQL_USER.txt

      - name: create MYSQL User Password Secret
        run: echo "${{ secrets.MYSQL_PASSWORD }}" > MYSQL_PASSWORD.txt

      - name: create MYSQL DB Secret
        run: echo "${{ secrets.MYSQL_DB }}" > MYSQL_DB.txt

      - name: Build the Docker image
        run: docker build
              --file mysql/Dockerfile 
              --tag ${{ secrets.DOCKER_USERNAME }}/mysql:latest 
              --secret id=MYSQL_ROOT_PASSWORD,src=MYSQL_ROOT_PASSWORD.txt
              --secret id=MYSQL_USER,src=MYSQL_USER.txt
              --secret id=MYSQL_PASSWORD,src=MYSQL_PASSWORD.txt
              --secret id=MYSQL_DB,src=MYSQL_DB.txt .


      - name: Push Image
        run: docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
